.col-lg-4_amarelo {
    background-color: yellow;
}

.col-lg-3_verde {
    background-color: green;
}

.col-lg-2_azul {
    background-color: blue;
}

.col-lg-3_vermelho {
    background-color: red;
}
